@charset "UTF-8";

body {
    background-color: WHITE;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: "Nova Square";
    color: black;
    margin: 0;
}

nav {
    border-bottom: 3px solid #000;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

nav ul li {
    display: flex;
    align-content: center;
    margin: 0 10px;
    width: 150px;
    margin-top: 20px;
    justify-content: center;
}

nav a {
    text-decoration: none;
    display: flex;
    align-content: center;
}

footer {
    padding: 20px 0;
    border-top: 3px solid #000;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

main {
    background-color: #fdfefe;
    padding: 3px 0;
}

section {
    max-width: 992px;
    margin: 0 auto;
    padding: 10px;
    min-height: 1000px;
}

td {
    padding: 3px 2px;
}

.img-table {
    width: 100px;
}

.producto {
    width: 300px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.producto img {
    width: 100%;
}

.product-buttons {
    display: flex;
    justify-content: space-evenly;
}

.product-buttons a {
    width: 50%;
}

.product-buttons button {
    width: 100%;
}

#product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#buscadorBolis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tienda {
    width: 100%;
    padding: 8px;
    border-bottom: 1px dotted black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.info-tienda {
    width: 450px;
}

.graf-tienda {
    width: 400px;
    height: 400px;
}

#users-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user {
    border: 1px solid #171717;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    margin-top: 15px;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.graf-tienda iframe {
    width: 100%;
    height: 100%;
}

.insert-button {
    border: none;
    background-color: none;
    margin-top: 20px;
    padding: 5px 10px;
}

.insert-button:hover {
    border: 1px outset;
}
